@media only screen  and (min-width: 200px) and (max-width: 900px) {
    body{
        width: 100%;
        overflow-x: hidden !important;
    }
    .headerleft {
        padding: 10px;
    }
    .logo img{
        width: 80px;
    }
    .headerright{
        padding-right: 0px;
        
    }
    .menuicon{
        display: block;
    }
    
    .headerright nav{
        z-index: 1;
        position: fixed;
        top: 100px;
        right: 0px;
        transform: translateX(100%);
        transition: 0.3s;
        height: 100vh;
    }
    
    .headerright nav ul{
        padding: 20px;
        width: 99.9%;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        background: white;
        height: 100vh;
        align-items: end;
    }
    .headerright nav.showmenu{
        
        transform: translateX(0%);
    }

    
    .banner{
        width: 100%;
        height: 125px;
    }
    .headerleft i{
    font-size: 28px;
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    }
    .popup{
        z-index: 1001;
        width: 90%;
    }
    .welcomeform form{
    width: 100%;
    flex-direction: column;
    gap: 10px;
    }
    .welcomeform h2{
    width: 100%;
    }
    .welcomeform input, .welcomeform button{
    width: 100%;
    
    }
    .whymid{
        
        overflow-x: auto;
    }
    .whyitem1, .whyitem2, .whyitem3, .whyitem4, .whyitem5, .whyitem6, .whyitem7, .whyitem8, .whyitem9, .whyitem10, .whyitem11, .whyitem12{
        min-width: 250px;
    }
    .overviewmid{
        padding: 20px;
    flex-direction: column;
    flex-direction: column-reverse;
    }
    .projectimage{
    width: 100%;
    aspect-ratio: 1/1;
    }
    .more{
        padding: 20px;
    }
    .moremid{
        flex-direction: column;
        gap: 20px;
    }
    .registry{
    padding: 20px 0px;
    }
    .registrymid{
        padding: 20px;
    }
    .registrynumbers{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;  
    }
    .price table{
    width: 90%;
    margin: auto;
    }
    .faqmid{
        padding: 20px;
    }
    .hilightsmid{
        padding: 20px;
    }
    .hilightsmid figure{
        width: 100vh;
        height: auto;
        padding: 12px;
    }
    .hilightsmid figure img{
        width: 100vh;
        height: auto;
        padding: 20px;
    }
    .highlightsgrid{
        grid-template-columns: repeat(1, 1fr);
    }
    .expmid{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .expitem{
    padding: 20px;
    max-width: 300px !important;
    height: auto !important;
    margin: auto;
    }
    .expitem iframe{
    width: 100%;
    height: 100%;
    }
    .site>figure>img{
    width: 90%;
    height: auto;
    margin-top: 20px;
    }
    .site iframe{
    width: 80%;
    margin-top: 20px;
    }
    .gallerymid{
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
    
    }
    .loansmid{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    }
    .schedulemid{
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 20px;
    }
   .reach{
    flex-direction: column;
    gap: 20px;
    }
    .footertagline{
        text-align: center;
    }
    .floatingicons{
        display: none;
    }
}    
@media only screen  and (min-width: 576px) and (max-width: 900px) {
    .registrynumbers{
    grid-template-columns: repeat(2, 1fr);
    }
     .hilightsmid{
        padding: 20px;
    }
    .hilightsmid figure{
        width: 100vh;
        height: auto;
        padding: 12px;
    }
    .hilightsmid figure img{
        width: 100vh;
        height: auto;
        padding: 20px;
    }
    .highlightsgrid{
        grid-template-columns: repeat(2, 1fr);
    }
    .expmid{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .expitem{
    padding: 20px;
    max-width: 300px !important;
    height: auto !important;
    margin: auto;
    }
    .expitem iframe{
    width: 100%;
    height: 100%;
    }
    .site>figure>img{
    width: 90%;
    height: auto;
    margin-top: 20px;
    }
    .site iframe{
    width: 80%;
    margin-top: 20px;
    
    }
    .gallerymid{
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    }
    .loansmid{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    }
    .loansitem{
    width: 80vh;
    }
    .schedulemid{
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 20px;
    }
} 